<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>タスク編集</title>
	</head>
	<body>
		<h1>タスク編集</h1>
		<form th:action="@{/tasks/update/{id}(id=*{id})}" th:object="${task}" method="post">
			<div>
				<label>ID<br></label>
				<span th:text="*{id}"></span>
			</div>
			<div>
				<label>タイトル<br></label>
				<input type="text" th:field="*{title}" required>
			</div>
			<div>
				<label>内容<br></label>
				<textarea th:field="*{content}"></textarea>
			</div>
			<div>
				<label>名前<br></label>
				<input type="text" th:field="*{name}" required>
			</div>
			<div>
				<label>開始日<br></label>
				<input type="date" th:field="*{startDate}">
			</div>
			<div>
				<label>終了日<br></label>
				<input type="date" th:field="*{endDate}">
			</div>
			<input type="hidden" th:field="*{username}">
			
			<button type="submit">更新</button>
			<a th:href="@{/tasks}">キャンセル</a>
		</form>
	</body>
</html>