<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>タスク一覧</title>
		<link rel="stylesheet" th:href="@{/css/tasks.css}">
	</head>
	<body>
		<div class="container">
			<h1>タスク一覧</h1>
			<div th:if="${not #lists.isEmpty(tasks)}">
				<table border="1">
					<thead>
						<tr>
							<th>ID</th>
							<th>タイトル</th>
							<th>内容</th>
							<th>登録者</th>
							<th>開始日</th>
							<th>終了日</th>
							<th>作成日時</th>
							<th>更新日時</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task : ${tasks}">
							<td th:text="${task.id}"></td>
							<td th:text="${task.title}"></td>
							<td th:text="${task.content}"></td>
							<td th:text="${task.name}"></td>
							<td th:text="${task.startDate}"></td>
							<td th:text="${task.endDate}"></td>
							<td th:text="${task.createdAt}"></td>
							<td th:text="${task.updatedAt}"></td>
							<td>
								<button type="button" class="btn-sm btn-edit" th:onclick="|location.href='@{/tasks/edit/{id}(id=${task.id})}'|">
									編集
								</button>
								<form th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post" style="display:inline;">
									<button type="submit" class="btn-sm btn-delete" onclick="return confirm('本当に削除しますか？')">削除</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div th:if="${#lists.isEmpty(tasks)}" style="color:red;">
				<p>現在タスクは登録されていません。「新規作成」から追加してください。</p>
			</div>

			<br>
			<div class="create-container">
				<a th:href="@{/tasks/new}" class="btn-action btn-create">新規作成</a>
			</div>
		</div>
	</body>
</html>